* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



section.about,
section.home {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items:center;
    background-repeat: no-repeat;
}
.full-content {
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.37),rgba(0, 0, 0, 0.716) 50%), url("../images/pages/pizza-3.jpg") fixed;
    /* position : relative; */
}

section.home img {
    width: 400px;
}

@media screen and (max-width : 1008px) {
    section.about,section.home {
        /* padding-top: calc(50vw + 30px); */
        /* padding-top: calc(100vw ); */
        /* padding-top: calc(55vh); */
        /* padding-top: (100vw - 100px); */
        /* height: fit-content; */
        min-height: 850px;
        padding: 40px 10px;
    }
}
@media screen and (max-width : 470px) {
    section.home img {
        width: calc(150px + 50vw);
    } 
}
@media screen and (max-width : 790px) {
    section.home  {
        flex-direction: column;
        justify-content: center;
    } 

    section.home h1 {
        text-align: center;
    
    }
}

.products-list ul.menu{
    display: flex;
    width: 100vw;
    background: orange;
    justify-content: center;
    align-items: flex-start;
    overflow-x: auto;
    /* overflow: scroll; */
}
.products-list ul.menu li{
    display: flex;
    /* width: ; */
    padding: 10px 25px ;
    background: rgba(255, 136, 0, 0.938);
    transition: .6s;
    /* margin: 0 5px; */
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-inline: 2px solid;
}
@media screen and (max-width : 500px){
   .products-list ul.menu li {
    padding: 5px 5px ;
   }
}


.products-list ul li:hover{
    background: rgb(255, 102, 0);
}


.product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.562)),url("../images/pizza1-creme.jpg"); */
    gap: 25px;
}
.product-infos {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.product-infos .name {
    color: orange;
    font-size: 50px;
}
.product-infos .available {
    color: white;
    font-size: 40px;
}
.product-infos .available .no {
    color: red;
}
.product-infos .price {
    color: yellow;
    font-weight: bold;
}
.product-infos .price span {
    font-size: 35px;
}
.product-infos .list {
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.product-infos .list-of-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 5px;
    padding: 10px;
}
.product-infos .list span {
    font-size: 17px;
    border-bottom: 2px solid white;
    width: fit-content;
    margin: 6px;
}

.product-infos .list li{
    list-style-type: disc !important;
}


.product img {
    width: calc(245px + 25vw);
    height: calc(245px + 25vw);
    border-radius: 50%;
    border: orange solid 2px;
}



.product button {
    border: none;
    background: orange;
    cursor : pointer;
    display: flex;
    padding: 20px 25px;
    font-size: 18px;
    transition: .7s;
}

.product button:hover {
    background: orangered;
    color: white;
}


@media screen and (max-width : 885px) {
    .product {
        flex-direction: column;
        height: fit-content;
        padding: 50px 2%;
    }
}